/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="cg/text-table-g"] {
  padding: 50px;
  background: #fbfff0;
  border: 1px solid #c8c8c8;
}
